.Post {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  background-color: white;

  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 4px 4px 20px rgba(0,0,0,0.1);
}

.Post:hover {
  box-shadow: 4px 4px 20px rgba(0,0,0,0.3);
}

.Post-cardText {
  width: 90%
}

.Post-image {
  margin-right: 1rem;
}

.Post-title {
  font-size: 2rem;
  color: #111111;
  font-weight: 500;
  width: 100%;
}

.Post-score {
  text-align: center;
  align-self: center;
  width: 10%;
}

.Post-score p {
  font-size: 2rem;
  font-weight: 600;
}