.NavBar {
  position: fixed;
  top: 0;
  z-index: 1000;

  width: 100%;
  height: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 5px solid orangered;
}

.NavBar-title {
  background-color: white;
  font-size: 3rem;
}