* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #ffffff;
  font-family: Helvetica, sans-serif;
  color: #222222;
}

main {
  position: relative;
  top: 5.5rem;
  width: 80%;
  margin: 0 auto;
}